* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
.title {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.2rem;
}
.container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.currency_row {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.cur__select {
  width: 10rem;
}
.cur__input,
.cur__select {
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
}
